@media screen and (min-width:800px) {
   

  .checkout-wrap {margin:20px auto 80px;}
  ul.checkout-bar {height: 2px;margin: 0 auto;padding: 0;position: absolute;width: 100%;}
  ul.checkout-bar:before {content: "";background-color:#dedede;width: calc(100% - 240px);position: absolute;height: 2px;left: 102px;}
    
  ul.checkout-bar li {display: inline-block;margin: 22px 0 0;padding: 0;text-align: center;width: 19%;}
  ul.checkout-bar li:before {height: 30px;left: 50%;line-height: 30px;position: absolute;top: -38px;width: 30px;z-index: 99;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
  ul.checkout-bar li.active:after {content: "";background-color:#41b372; position: absolute;height: 2px;left:0; top:-22px; width:100%; }
  ul.checkout-bar li.active:last-child:after { width:50%; }
  ul.checkout-bar li.visited {background: none;}
   
}


@media screen and (max-width:1400px){
    
    .arpatech-logo images {max-width: 120px;}
    .intro-text h1 { font-size:42px; }
}

@media screen and (max-width:1190px) {
    
    .estimation-details-section .details .promocode-block .input-box .input-text { max-width: calc(100% - 110px); }
    .estimation-details-section .details .promocode-block .input-box .btn { max-width:100px; }

    button.get-in-touch-wrap, a.get-in-touch-wrap { top:80px; right:80px; }

    .footer1-wrapper .links { padding:0 20px }
    
}


@media screen and (max-width:990px) { 
    
    .estimation-details-section h1 { font-size:26px; }
    .estimation-details-section .details label { font-size:18px; }
    .estimation-details-section .details .price { margin-top:5px; }
    .estimation-details-section .details .promocode-block label { width:100%; }
    .estimation-details-section .details .promocode-block .input-box { width:100%; }
    .estimation-details-section .details .promocode-block .input-box .input-text { max-width:100%; width:calc(100% - 110px); }
    .estimation-details-section .details .promocode-block .input-box .btn  { max-width:100%; width:100px; }
    ul.checkout-bar:before { width: calc(100% - 160px) !important; left:80px !important; }
    
    .specialities {padding-top: 0px;padding-bottom: 80px;}
    
    .header .intro-text {padding-top: 300px;padding-bottom: 0;padding-top: 0px!important;top: 50%;position: absolute;-webkit-transform: translateY(-50%);transform: translateY(-50%); padding-left: 15px;padding-right: 15px;}
    .founder-box { margin-bottom:10px; }
    
    .services-short-section img { left:50%; -webkit-transform:translateX(-50%); transform:translateX(-50%); }
    .magento-services-main h2 { font-size:50px; }
    .banner-text-web-2 h3 { font-size:55px; margin-top:50px;  }
    .services-short-section h2 { font-size:23px; }
    ul.right-side li h2,ul.left-side li h2 { font-size:20px; color:#fff; }
    .meetup-bar { background:#091d36; }
    
    
    .meetup-bar { background-size:100%!important; background-position:0 0!important; }
   /* .header { display:inline-block; width:100%; }*/
   #exTab1 .tab-content .row .col-border input[type="checkbox"]:checked + label:before, #exTab1 .tab-content .row .col-border input[type="radio"]:checked + label:before {right:-20px;}
   button.get-in-touch-wrap, a.get-in-touch-wrap { transform:rotate(-90deg); -webkit-transform:rotate(-90deg); }
    .footer1-wrapper .links.footer-about, .footer1-wrapper .links.footer-service { width:50%; }
    .footer1-wrapper .links { width:50%; margin-bottom:30px; }

    .woocommerce .container { width:100%; padding:0 40px; }
    
}

@media screen and (max-width:767px) {
    
    .estimation-grid-section .title h1 { font-size:36px; }
    .estimation-grid-section .title h3 { font-size:24px; line-height:36px; }
    .estimation-details-section .image images {width: 100%;} 
    .estimation-details-section .details-block > div {height: auto !important;padding-left: 15px;padding-right: 15px;}
    .estimation-details-section .image { padding-top:15px; padding-bottom:15px; }
    .checkout-wrap ul {padding-left: 0;}
    ul.checkout-bar li { padding:14px 10px 14px 70px; } 
    
    .banner-text-web-2 h1 { font-size:30px; }
    .banner-text-web-2 h3 { font-size:35px; margin-top:40px; }    
    .magento-services-main h2 { font-size:35px; }
    .services-short-section h2 { font-size:23px; }
    
    ul.left-side, ul.right-side { width:100%; }    

    .estimation-header .logo { padding-left:0; text-align:center; }
    .estimate-app h1 { font-size:38px }
    .estimate-app p { line-height:1.3; font-size:20px; }
    #exTab1 .tab-content .tab-pane { padding:15px 20px; }
    #exTab1 .tab-content h3 { font-size:22px; margin:20px 0 30px; }
    #exTab1 .nav-pills li { font-size:22px; }
    .estimate-footer { text-align:center; }
    .estimate-footer address { padding-top:10px; margin-bottom:0; }
    .totalesti .total-cost { font-size:32px; }
    .totalesti .total-hours { font-size:20px; }
    .sendestimation h2 { font-size:16px; }
    #exTab1 .tab-content .row .col-border input[type="checkbox"]:checked + label:before, #exTab1 .tab-content .row .col-border input[type="radio"]:checked + label:before { right:50px; } 
    #exTab1 .tab-content .row .col-border { margin-bottom:20px; }
    .overlay .overlay-content { max-width:100%; }
    .header .intro-text { width:88%; padding:0; }
    .intro-text h1 { font-size:32px; }
    .estimation-details-section .image:before { display:none; }
    ul.my-nav-new { float:left!important; }
    .status-publish .woocommerce-MyAccount-navigation .navbar-collapse { overflow-x:hidden; }
    .status-publish .woocommerce-MyAccount-navigation .navbar-toggle { margin:20px 0; float:left; background-color:#414141; }
    .status-publish .woocommerce-MyAccount-navigation .navbar-toggle .icon-bar { background-color:#fff; }
    .status-publish .woocommerce-MyAccount-navigation li { padding:0 10px; }
    .status-publish .entry-title { margin-top:0; }
    body.estimation-tool { padding-top:0; }
    .estimation-header { position:relative; }
    .estimation-header .navbar { min-height:inherit; }
    .estimation-header .navbar-toggle { margin:0; }
    .headerwrapper .pull-right { float:none!important; }
    .headerwrapper .navbar-collapse { width:100%; margin-top:30px; float:left; }

}
 
 @media screen and (max-width: 600px) {
   
   #exTab1 .tab-content .row .col-border input[type="checkbox"]:checked + label:before, #exTab1 .tab-content .row .col-border input[type="radio"]:checked + label:before { right:13%; }
   .footer1-wrapper .links.footer-about, .footer1-wrapper .links.footer-service { width:100%; }
    .footer1-wrapper .links { width:100%; padding:0 30px; margin-bottom:30px; } 
 }

@media screen and (max-width:479px) {
  
  #exTab1 .tab-content .row .col-border input[type="checkbox"]:checked + label:before, #exTab1 .tab-content .row .col-border input[type="radio"]:checked + label:before { right:0; }
  #exTab1 .tab-content h3 { font-size:20px; }
  .estimate-app h1 { font-size:32px; }
  .estimate-app p { font-size:18px; }
  .estimate-app small { font-size:16px; }
  #exTab1 .nav-pills li { font-size:20px; }
}
  @media screen and (max-width: 360px) {
   
   #exTab1 .tab-content .row .col-border input[type="checkbox"]:checked + label:before, #exTab1 .tab-content .row .col-border input[type="radio"]:checked + label:before { right:-10%; }
 }